.button-bar {
  @extend %clear;
  margin-bottom: 2em;
}

.item-button {
  color: $blue-teal;
  float: left;
  margin-right: 1em;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    background-color: rgba($blue-teal, 0.1);
    border-color: rgba($blue-teal, 0.1);
    outline: none;
  }

  &:active {
    background-color: rgba($blue-teal, 0.3);
    border-color: rgba($blue-teal, 0.2);
    outline: none;
  }
}

.search-form {
  display: inline-block;
  float: right;
}

.search-text {
  border: 1px solid $gray-border;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: inset 0px 1px 2px $gray-shadow;
  font-size: 1.1em;
  outline: none;
  padding: 0.5em;
}

.search-submit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: -0.5em;
  padding: 0.5em 1em;
  position: relative;
}
